#header{
	position:fixed;
	top:0;
	width:100%;
	height: 150px;
}
#topnav{
	background-color:#0B0C10;
	height:100px;
}
#icon{
	margin-top:10px;
	font-size:40px;
	color:#ffffff;
	font-size:40px;
	font-weight:bold;
}
#searchbar{
	margin-top:30px;
	margin-left:140px;
	width:600px;
}
#downarrow{
	background-color:#837E7C;
	border-radius:0px 3px 3px 0px;
	color:#ffffff;
	margin-left:700px;
	width:36px;
	font-size:25px;
	bottom:20px;
	padding-top:4px;
	position:absolute;
	text-align:center;
	height:33px;
}
#menu{
	padding-top:30px;
	margin-right:50px;
	float:right;
	font-size:35px;
	color:#ffffff;
}
#mlist{
	padding:15px 0px;
	color:#ffffff;
	font-weight:bold;
	font-size:40px;
		
}
#addmovie{
	color:#ffffff;
	font-size:30px;
	float:right;
	margin-right:10px;
	margin-top:20px;
}
#moviename{
	color:#09366D;
	font-size:22px;
	text-decoration:underline;

}
	
	
#footer{
	background-color:#0B0C10;
	text-align:center;
	margin-top:45px;
	height:	150px;
	padding: 20px 0px;
}
#social{
	color:white;
	padding: 0px 30px;
	cursor:pointer;
}
#ftext{
	color:#666362;
	margin-left:30px;
	cursor:pointer;
}
#textfield{
	width:90%;
	margin-left:15px;
	padding-top:10px;
	background-color:#0B0C10;
	border:1px;
	border-color:white;
}
#menubtn{
	width:90%;
	border-color:white;
	background-color: white; 
	color: black;
	font-style:bold;
	border: 2px solid #0B0C10;
}
#menubtn:hover {
  background-color: #FFA500;
}
.sidenav {
	height: 100%; 
	width: 0; 
	position: fixed;
	z-index: 1;
	top: 0; 
	right: 0;
	background-color: #0B0C10;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.8s; 
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color:#ffffff;
}
.sidenav .closebtn:hover{
	color:red;
	text-decoration: none;
}

#loginForm div{
	margin-left:1px;
}
#uname, #pswd{
	width: 70%;
	padding: 12px 20px;
	margin: 5px 30px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius:5px;
	position:relative;
	left:0;
}
#loginForm button{
	background-color: #4CAF50;
	color: #FFFFFF;
	font-size:20px;
	font-weight: bold;
	padding: 14px 20px;
	margin: 8px 30px;
	border: none;
	cursor: pointer;
	width: 70%;
	border-radius:5px;
}
.psw{
	font-size:15px;
	color:blue;
	text-decoration:underline;
	cursor:pointer;
	margin-left:30px;
}
#movietitle
{
	font-family:Impact;
	font-weight:bolder;				
}
#movie_metascore{
	font-size:40px;
	font-weight:bold;
	background-color:#356196;
	padding:15px 20px;
	border-radius:50px;
	color:#FFFFFF;
	margin-top:20px;
}
ul li{
	margin: 0;
	list-style: none;
}







